{#
 # news template
 # ---------------
 #}

{% extends "../layouts/_layout.twig" %}

{% block content %}
<main>
	<h1>News</h1>
	<h2>News Template</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam expedita nisi similique perspiciatis iure labore culpa, quaerat. Laudantium fugit nisi rerum nostrum, quam nam consequatur voluptates, rem, sunt veniam tempore.</p>
	<a href="/">home</a>
</main>
{% endblock %}
