{#
 # Homepage template
 # ---------------
 #}

{% extends "layouts/_layout.twig" %}

{% block content %}
<main>
	{% include 'inc/header.twig' %}

	<h1>Homewleksrdjf</h1>
	<h2>Homepage Template</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam expedita nisi similique perspiciatis iure labore culpa, quaerat. Laudantium fugit nisi rerum nostrum, quam nam consequatur voluptates, rem, sunt veniam tempore.</p>
	<a href="../news">news</a>

	{% include 'inc/footer.twig' %}
</main>
{% endblock %}
